@import '../../App.scss';

.contact-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  @include mobile {
    flex-direction: column;
    justify-content: space-around;
    padding: 100px;
    gap: 30px;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
    justify-content: center;
    @include desktop {
      gap: 16px;
    }
    .links-container{
      display: flex;
      justify-content: center;
      flex-direction: row;
      gap: 30px;
      @include desktop{
        gap: 10px;
      }
   
      .links{
        @include desktop{
          padding: 5px 10px;
          font-size: 14px;
        }
        @include mobile {
          max-width: fit-content;
        }
        p{
          text-wrap: nowrap;
        }
        background-color: rgb(255, 170, 0);
        color: black;
        padding: 10px 20px;
        border-radius: 20px;
        transition: background-color .4s;
        display: flex;
        justify-content: center;
      }
      .links:hover{
        background-color: rgb(245, 223, 178);
      }
      .links:active{
        background-color: white;
      }
    }
    .info-power{
      display: grid;
      grid-template-columns: 200px 100px 100px 110px ;
      align-items: center;
      gap: 5px;
      @include mobile {
        display: none;
      }
      @include desktop {
        grid-template-columns: 200px 50px 100px 100px;
      }
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      p{
        justify-self: center;
        font-family: Roboto;
        font-weight: 100;
      }
      img {
        justify-self: center;
      }
      svg {
        justify-self: center;
      }
    }
    @include mobile {
      gap: 10px;
    }
    h1 {
      font-size: 80px;
      width:60%;
      color: white;
      padding-bottom: 40px;
      font-family: 'roboto';
      letter-spacing: 2px;
      font-weight: 700;
      @include mobile {
        font-size: 30px;
        width: 100%;
      }
      @include desktop {
        font-size: 40px;
        width: 100%;
      }
    }

    h3 {
      font-size: 20px;
      color: white;
      font-family: 'roboto';
      @include mobile {
        font-size: 14px;
      }
      @include desktop {
        font-size: 16px;
      }
    }
    
    h4 {
      font-size: 14px;
      color: white;
      padding-top: 5px;
      font-family: 'Roboto';
      @include mobile {
        font-size: 10px;
      }
      @include desktop {
        font-size: 10px;
      }
    }
    .copyRight {
      font-weight: 100;
      margin-top: 100px;
      @include mobile{
        position: fixed;
        margin: 0px;
        bottom: 5px;
      }
    }
  }
  .form-container {  
    width: 30%;
    position: relative;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: 100%;
    }
    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      @include mobile {
        display: none;
      }
    }
    .dunno {
      display: flex;
      flex-direction: column;
      gap: 10px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      input {
        padding: 15px;
        padding-left: 24px;
        border-radius: 30px;
        border-style: solid;
        background-color: inherit;
        border-width: 1px;
        color: white;
        z-index: 1000;
        @include mobile {
          padding: 10px;
        }
      }
      ::placeholder {
        color: rgb(241, 241, 241);
        font-size: 10px;
      }
      textarea {
        background-color: inherit;
        color: white;
        border-radius: 10px;
        z-index: 1000;
        @include mobile {
          height: 120px;
        }
      }
      .submit-button {
        width : 100px;
        height: 50px;
        border: none;
        background-color: rgb(255, 170, 0);
        border-radius: 25px;
        transition: background-color .2s;
        @include mobile {
          height: 30px;
          width: 75px;
        }
      }
      .submit-button:hover{
        background-color: rgb(244, 213, 151);
      }
      .submit-button:active{
        background-color: rgb(64, 62, 58)
      }
    }
  }
}